{% extends "base.html.j2" %} 

{% block title %}Абонент доступен{% endblock %} 

{% block navigation %}
		<header class="pf-c-page__header">
			<div class="pf-c-page__header-brand">
				<div class="pf-c-page__header-brand-toggle">
					<div class="pf-c-dropdown pf-m-expanded">
						<button
							onclick="myFunction()"
							class="pf-c-dropdown__toggle pf-m-plain" 
							id="dropdown-expanded-button" 
							aria-expanded="true" 
							type="button"
						>
							<i class="fas fa-caret-down" aria-hidden="true"></i>
							<!-- <span class="pf-c-dropdown__toggle-icon">
								<i class="fas fa-caret-down" aria-hidden="true"></i>
							</span> -->
						</button>
						<ul id="dropdown_menu" class="pf-c-dropdown__menu" aria-labelledby="dropdown-expanded-button">
							<li>
								<a href="#">Список абонентов</a>
							</li>
							<li>
								<a href="#">Справочники</a>
							</li>
							<li>
								<a href="#">Данные</a>
							</li>
							<li class="pf-c-divider" role="separator"></li>
							<li>
								<a href="#">О проекте</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="pf-c-page__header-brand-link">
					<a href="/">
						<h6 style="font-size: xx-large">Абонент доступен</h6>
					</a>
				</div>
			</div>
		</header>
{% endblock %}

{% block content %}
		<main
		class="pf-c-page__main"
		tabindex="-1"
		id="main-content-page-demo-centered-content"
		>
			<section
				class="pf-c-page__main-section pf-m-limit-width pf-m-align-center pf-m-fill"
			>
				<div class="pf-c-page__main-body">
					<div class="pf-l-bullseye">
						<div class="pf-c-content pf-u-text-align-center">
							<h1></h1>
							<p></p>
							<form id="abonent_search">
							<div class="pf-l-grid">
								<div class="pf-l-grid__item pf-m-12-col">
									<div class="pf-l-grid pf-m-gutter">
										<div class="pf-l-grid__item pf-m-12-col">
												<div class="pf-c-form__group">
													<div class="pf-c-form__group-label">
														<label class="pf-c-form__label" for="form-vertical-name">
															<span class="pf-c-form__label-text">Фамилия</span>
														</label>
													</div>
													<div class="pf-c-form__group-control">
														<input
															class="pf-c-form-control"
															type="text"
															id="surname"
															name="surname"
														/>
													</div>
												</div>
										</div>
										<div class="pf-l-grid__item pf-m-6-col">
												<div class="pf-c-form__group">
													<div class="pf-c-form__group-label">
														<label class="pf-c-form__label" for="form-vertical-name">
															<span class="pf-c-form__label-text">Имя</span>
														</label>
													</div>
													<div class="pf-c-form__group-control">
														<input
														class="pf-c-form-control"
														type="text"
														id="name"
														name="name"
														/>
													</div>
												</div>
										 </div>
										<div class="pf-l-grid__item pf-m-6-col">
												<div class="pf-c-form__group">
													<div class="pf-c-form__group-label">
														<label class="pf-c-form__label" for="form-vertical-name">
															<span class="pf-c-form__label-text">Отчество</span>
														</label>
													</div>
													<div class="pf-c-form__group-control">
														<input
															class="pf-c-form-control"
															type="text"
															id="patronym"
															name="patronym"
														/>
													</div>
												</div>
										</div>
										<div class="pf-l-grid__item pf-m-12-col">
												<div class="pf-c-form__group">
													<div class="pf-c-form__group-label">
														<label class="pf-c-form__label" for="form-vertical-name">
															<span class="pf-c-form__label-text">Адрес</span>
														</label>
													</div>
													<div class="pf-c-form__group-control">
														<input
															class="pf-c-form-control"
															type="text"
															id="address"
															name="address"
														/>
													</div>
												</div>
										</div>
										<div class="pf-l-grid__item pf-m-12-col">
												<div class="pf-c-form__group">
													<div class="pf-c-form__group-label">
														<label class="pf-c-form__label" for="form-vertical-name">
															<span class="pf-c-form__label-text">Телефон</span>
														</label>
													</div>
													<div class="pf-c-form__group-control">
														<input
															class="pf-c-form-control"
															type="text"
															id="phone"
															name="phone"
														/>
													</div>
												</div>
										</div>
										<div class="pf-l-grid__item pf-m-12-col">
											<input class="pf-c-button pf-m-primary pf-m-block" type="submit" value="ИСКАТЬ"></input>
										</div>
									</div>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</section>
			<section
				class="pf-c-page__main-section pf-m-limit-width pf-m-align-center pf-m-fill"
			>
				<div class="pf-c-page__main-body">
					<div class="pf-l-bullseye">
						<div class="pf-c-content pf-u-text-align-center">
							<h1></h1>
							<p></p>
							<div class="pf-l-grid">
								<div class="pf-l-grid__item pf-m-12-col">
									<table class="pf-c-table pf-m-compact pf-m-grid-lg" role="grid" style="width: 50vw;">
										<thead>
											<th role="columnheader" scope="col">Год</th>
											<th role="columnheader" scope="col">Абонент</th>
											<th role="columnheader" scope="col">Адрес</th>
											<th role="columnheader" scope="col">Телефон</th>
										</thead>
										<tbody id="search_results">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}

{% block scripts %}
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("dropdown_menu").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.pf-c-dropdown__toggle.pf-m-plain')) {

    var dropdowns = document.getElementsByClassName("pf-c-dropdown__menu");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

totalPages = 1;

$(function () { 
  $('#abonent_search').submit(function () { 
    var $name = $('input[name="name"]').val();
    var $surname = $('input[name="surname"]').val();
    var $patronym = $('input[name="patronym"]').val();
    var $address = $('input[name="address"]').val();
    var $phone = $('input[name="phone"]').val();
    
    var $search_string = "";
    if ( $phone ) {
        $search_string = $phone.toString();
        $search_string = $search_string + "&df=phone";
    }
    if ( $address ) {
        $search_string = $address.toString();
        $search_string = $search_string + "&df=address";
    }
    if ( $name || $surname || $patronym ) {
        if ( $surname ) {
            $search_string = $surname.toString();
        }
        if ( $name ) {
            $search_string = $search_string + " " + $name.toString().charAt(0).toUpperCase();
        }
        if ( $patronym ) {
            $search_string = $search_string + " " + $patronym.toString().charAt(0).toUpperCase();
        }
        var $search_string = $search_string + "&df=full_name";
    }
    
    if ( $search_string ) {
        $.get("http://127.0.0.1:7000/abonent?q=" + $search_string, function(data) { 
          $('#search_results').html("");
          $(data._items).each(function () { 
            var tr = '';
            var href = "/abonent?"
            tr = tr + '<td>' + this.year.toString() + '</td>';
            href = href + "year=" + this.year.toString() + "&";
            tr = tr + '<td>' + this.full_name + '</td>';
            href = href + "full_name=" + this.full_name + "&";
            tr = tr + '<td>' + this.address + '</td>';
            href = href + "address=" + this.address + "&";
            tr = tr + '<td>' + this.phone.join(", ") + '</td>';
            href = href + "phone=" + this.phone.join(", ");
            tr = '<tr onclick="window.location.href=' + "'" + href + "'" + '">' + tr + '</tr>';
            $('#search_results').append(tr); 
          }); 
    });
    }
    return false; 
  }); 
});
</script>
{% endblock %}

